$color-pink = #FF008B
$color-dark-blue = #0C2029

$color-darkest-grey = #222
$color-darker-grey = #666
$color-darker-grey = #999
$color-grey = #aaa
$color-light-grey = #e1e1e1
$color-lighter-grey = #eaeaea
$color-lightest-grey = #f2f2f2

$color-text-grey = #999
$color-border = #e9e9e9

$color-primary = #155AED
$color-info = #155AED
$color-success = #34c734
$color-warning = orange
$color-danger = red
// $color-page-background = $color-lightest-grey
$color-page-background = white

// Navigation
$color-navigation-overlay = rgba(0, 0, 0, 0.8)

$color-configure-button = #0994ec
